details {
    border: 2px solid #444;
    background-color: hsl(210, 25%, 8%);
    padding: 1.5rem;
}

body {
    --plyr-video-controls-background: rgba(0, 0, 0, 0);
    --plyr-color-main: darkorange;
}


/* Scale up only for displays larger than 1080p */
@media (min-width: 1921px) {
    main {
        font-size: 18px;
    }

    .sidebar {
        font-size: 18px;
    }

    :root {
        --content-max-width: 40vw;
    }
}