/* Target container elements on small screens */
@media (orientation: portrait) {
    .table-cell {
        display: block; /* Make each cell a block element */
        width: 90%; /* Occupy full width on mobile */
        border: none;
    }

    .table-cell:first-child {
        margin: auto;
    }
}